# ------------------------
# Environment / Secrets
# ------------------------
.env

# ------------------------
# Databases & Backups
# ------------------------
*.db

# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo

# ------------------------
# Logs
# ------------------------
*.log*

# ------------------------
# Virtual Environments
# ------------------------
venv/
.envrc

