# ------------------------
# Environment / Secrets
# ------------------------

.env
*.env

# ------------------------
# Databases & Backups
# ------------------------

*.db

# ------------------------
# Python
# ------------------------

__pycache__/
*.pyc
*.pyo

# ------------------------
# Logs
# ------------------------

*.log*
*.log.*

# ------------------------
# Virtual Environments
# ------------------------

venv/
.envrc
