# ======================================================
# Database
# Delete all other URL for production except DATABASE_URL
# Delete Jared and Corbin in supabase once in production
# .env should ONLY have DATABASE_URL in production
# ======================================================

# Nelson (SuperAdmin)

NELSON_DATABASE_URL=

# Jared

JARED_DATABASE_URL=

# Corbin

CORBIN_DATABASE_URL=

# FastAPI

DATABASE_URL=

# MailerSend (ESP)

MAILERSEND_API_KEY=

# Allowed origins

CORS_ORIGINS=