# NELSON_DATABASE_URL is the Connection String used by the backend. Line #13 in database_config.py

NELSON_DATABASE_URL=

# SupaBase 

SUPABASE_API_KEY=

# SupaBase API endpoint

SUPABASE_API_URL=

# Jared

JARED_DATABASE_URL=

# Corbin

CORBIN_DATABASE_URL=

# FastAPI

DATABASE_URL=

# MailerSend (ESP)

MAILERSEND_API_KEY=

# Allowed origins

CORS_ORIGINS=